language: node_js
node_js:
  - '7'
  - '6'
  - '5'
  - '4'
script:
  - npm run lint
  - npm run test
  - npm run build
after_success:
  - "./node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls"
deploy:
  provider: npm
  email: jonathan@goldwasserexchange.be
  api_key:
    secure: WjVTP5go6aZ4nlimf3hY5AChq4iu0Oz/6C4KScD/qTDwWILlUFokBSfyPCfisNOn+2wcb+k8Eh028XhmYLTfVOo/mW1OuQpNAkBmTrRNZKgN6MF5CnDiDY+7d2reDOq8+nETkjwgcKbYlklNT06dLWg0cydhMk1tY1NpzOh1kWeOvcEoAdpc7EZOc2k+AnxVOIJz11A2yLuEZg+TSbm1q2qV34iVKYdRjJ+oIJ395SSAwG7QFq5Lkxp/msOPajEhbrbFy37miHNvl7am3HYEHIShEFCI6z9xQSF8DrJZBkGfvbpgAxslbgSXBEYmFuJ5pW1GxM2fcC6NwBIC4qZeYJuVo+E+c9V55zDf3UE1P2eElOD8zK+bT9oOZN/xVA4LmJCT5Effkaa/CFhN7LBGzhyWcSZkCnoNgCQNCK3SP1fkv4k0GQk/dNgGNYYKiBG7ROP8JTNVkJTDFwYiZwqjl9ce+JQUCNWiyDyNOxWB1j/YtreoYDmNrLOibKeg8KaIZfH5SAosKL+IScf82JvVW5ckg03tpk/r/pS0ULqIKyjZ47L49k13aqC/xkEUzEljLDPhbGlDjc5S0vOlRT56duKIE15QaGrhKGhsNG9q2pD6Zw41wNgaYHYTAPx9MosznupWlWwKtbHDtrCOBCpJ+87CoGJNLXU/5ZOLBJSLQ4E=
  on:
    tags: true
    repo: goldwasserexchange/bond-calculator
    node: '6'
notifications:
  slack:
    secure: uEBpEGRaghIgsM6+zB7bpOvjjWYuxDhpFhp7Wj9fhKCG9CiJ/ImusjeIYzgTOKeyn7A9wqrX5yfbAvzSSPhjEIFRH9WZdNuBuCkqF26CTpyMlE3lRiVTDwUsyU+9vjD+C6S/J7Qc7lhr0AGiPQA9xaZuHnWXYpe/PBk2KlVa25lWsW4foK+LFtxT8G4qE/qj9BNVBkSWa8hNNqfctKVJzorZm3Z+Lijc/Og4his6KY1if1S90ZgF9bVnAoP3BuneJsMmMyq6nPBAvH4iDQCmcChs7ajeRnCZV6brS96wvNahkXgamoBLSR1A50OGtvSATmBGQwvQRl8J+aeRO8r892Xs/y05BR1WSsYc2a1mzbYIdyMcabUw5iJEGelPFMWRBFYaIQ+HHOYmzsVmjebLwMSVXEVWk8IDdw4dHCXuRIzRjxgJXYdD7miFCcmyodMmjZd4fWpQKWuFXvdi0bYHbpYf/wKaUSk59a8CEK3gyqzQt0UWx/dOLGooZX+IjDu6R/XHKaIRI/ku2usTZAaITBt26HdOet3qxBMrU+K1dB9CYu5Mpm8Epqmhd1j8HVeeljc61QVwSfIioTqshFF7MapAUhoDBsE2e+SDj0JCmS38KdAlrtrBLrWhFy4AVx02q6XJDm4Ofpunp4JeIRdv2aYJbHdaf66ljJrCqq1Uv/g=
